<main>
    <a [routerLink] = "['/']">Home</a>
    <div class="error">
        {{errorMessage}}
    </div>
    <div *ngIf="currentAuthor != null">
        <h2>Edit this author:</h2>
        <form (submit)="editAuthor($event)">
            <label for="authorName">Name:</label>
            <input type="text" name="authorName" id="authorName" [(ngModel)]="currentAuthor.authorName" placeholder="{{AuthorByID['authorName']}}">
            <div class="buttomsGroup"> 
                <button class="button" [routerLink] = "['/']">Cancel</button> 
                <button class="button" type="submit">Submit</button>
            </div>
        </form>
    </div>
</main>
